*{
  margin: 0;
  padding: 0;
}
/* ****************** menubar design ************** */
body{
  background-image: url(../pictures,logos/1.jpg);
}
nav{
  width: 100%;
  height: 65px;
  background: gray;
  overflow: hidden;
  position:absolute;
}
.menubar ul{
  margin: 0 0 0 150px;
  padding: 0;
  list-style: none;
}
.menubar li {
  float: left;
}
.menubar a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  overflow: hidden;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  text-align: center;
  font-size: 20px;
  position: relative;
}
.menubar a:hover{
  transition: .5s;
  background: white;
  color: gray;
  border-radius: 100px;
}

.logo img{
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 6px;
  margin-left: 10px;
}
 .icon{
  display: flex;
  justify-content: flex-end;
}
.icon ul{
  list-style: none;
}
.icon li {
  display: inline;
}
.icon a{
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
}
.icon a .fa-facebook-square:hover{
  background-color: white;
}
icon a :hover{
  background-color: white;
  transition: .5s;
  font-size: 25px;
}

/* ****************** menubar design ************** */
